* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(193, 169, 139);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
}

#nav-bar {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

#Kanban {
  font-size: x-large;
  color: rgb(61, 77, 34);
}

#kanban-add-btn {
  padding: 6px 8px;
  background-color: rgb(250, 206, 179);
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#kanban-add-btn:hover {
  background-color: rgb(253, 210, 158);
  border: solid;
  border-color: rgb(249, 218, 115);
}

#kanban-main {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 90%;
  padding: 15px;
}

.kanban-board {
  width: 260px;
  height: 450px;
  border: solid rgb(255, 238, 174) 2px;
  border-radius: 10px;
  color: rgb(52, 45, 45);
  display: flex;
  flex-direction: column;
  padding: 8px 15px;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-over {
  border:2px dashed rgb(254, 236, 209);
  scale: 1.05;
}

.kanban-board h3 {
  font-size: small;
}

.kanban-inner-div {
  display: flex;
  height: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task {
  border: solid rgb(254, 200, 200) 1.3px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(204, 166, 120);
  cursor: grab;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.task:hover {
  scale: 1.04;
  border: solid rgb(254, 236, 198) 2px;
  box-shadow: 4px 4px 8px rgb(222, 178, 124);
}

.task button {
  align-self: flex-end;
  padding: 2px 5px;
  margin-right: 4px;
  border-radius: 5px;
  border: solid rgb(199, 50, 50) 1px;
  background-color: rgb(254, 54, 54);
}
.task button:hover {
  background-color: rgb(213, 3, 3);
  color: white;
  cursor: pointer;
}
.heading {
  background-color: rgb(193, 169, 139);
  border-radius: 10px;
  font-weight: 600;
  padding: 1.5px 2px 0.5px 5px;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(78, 70, 0);
}

.descrp {
  outline: none;
  background-color: rgb(193, 169, 139);
  margin-top: 1px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  padding: 1.5px 2px 0.5px 5px;
  font-size: small;
  color: rgb(60, 82, 42);
}

::selection {
  background-color: rgb(254, 208, 140);
  color: green;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#modal.active{
  display: block;
}

.add-new-task {
  position: fixed;
  top: 30%;
  left: 32.5%;
  width: 35%;
  height: 40%;
  background-color: rgb(252, 226, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: solid rgb(250, 214, 85) 2px;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.center input {
  border-radius: 8px;
  border: solid rgb(250, 214, 85) 2px;
  background-color: rgb(253, 241, 205);
  padding: 5px;
  outline: none;
}
.center input:focus {
  border: solid rgb(254, 183, 76) 2px;
  background-color: rgb(255, 232, 190);
  color: rgb(90, 104, 1);
}

.center textarea {
  border-radius: 8px;
  border: solid rgb(250, 214, 85) 2px;
  background-color: rgb(253, 241, 205);
  padding: 5px;
  outline: none;
}
.center textarea:focus {
  border: solid rgb(254, 183, 76) 2px;
  background-color: rgb(255, 232, 190);
  color: rgb(90, 104, 1);
}

.center button {
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(250, 214, 85);
  cursor: pointer;
}
.center button:hover {
  background-color: rgb(254, 183, 76);
  color: white;
}

.modal-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
